@model EpicVitamins.ViewModels.CreateOrderViewModel
@{
    ViewBag.Title = "Place your Order";
}
<h2>Place your Order at Epic Vitamins</h2>
@using (Html.BeginForm())
{
    
    <div class="row">
        <div class="col-sm-12">
            @Html.TextBoxFor(m=> m.Quantity)
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>First Name</label>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "first name" })
        </div>
        <div class="col-sm-6 form-group">
            <label>Last Name</label>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "last name" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Address</label>
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "address" })
        </div>
        <div class="col-sm-2 form-group">
            <label>City</label>
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "city" })
        </div>

        <div class="col-sm-2 form-group">
            <label>State</label>
            @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "state" })
        </div>

        <div class="col-sm-2 form-group">
            <label>Zip</label>
            @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", placeholder = "zip" })
        </div>
    </div>





    <div>
        <input type="submit" value="Place Order" />
    </div>
    
}

